<h1>This is a wiki</h1>
<h2><%= link_to "Create an article", new_article_path %></h2>
<% @articles.each do |article| %>
  <h3><%= link_to article.title, article_path(article)%></h3>
  <p><%= article.content %></p>
<% end %>
